.avatar {
    margin-top:20px;
    margin-bottom:20px;
}

.center-par {
    text-align: center;
}

.divider {
    align-self: center;
    width: 75vw;
}

.btn {
    width: 50vw;
    margin-top: 8px;
    margin-bottom: 8px;
}